/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f2fc;
}
* ::selection {
  background-color: #391952;
  color: white;
}
/* Set the scrollbar width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Set the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}

/* Set the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b300b3;
}

.snackbar{
  background-color: #b376e262;
  width:fit-content;
  color: #391952;
}

.snackbar button *{
  color: #391952;
}
  

.error-snackbar{
  background-color: #ff1f1f75;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width:fit-content;
  color: black;
}

.error-snackbar button *{
  color: black;
}